<body>

<div>Titulo Inicio de sesión</div>

<div class="login" >
<form class="form-horizontal" [formGroup]="form">
    <div class="blanco">
        <mat-form-field class="campo" appearance="outline">
          <mat-label>Email</mat-label>
          <input  matInput placeholder="pat@example.com" [formControl]="email" required>
          <mat-error *ngIf="email.invalid">{{getErrorMessageEmail()}}</mat-error>
        </mat-form-field>
        <br/>
        <mat-form-field class="campo" appearance="outline">
          <mat-label >Password</mat-label>
          <input  matInput [type]="hide ? 'password' : 'text'" [formControl]="password" required>
          <button mat-icon-button matSuffix (click)="hide = !hide" [attr.aria-label]="'Hide password'" [attr.aria-pressed]="hide">
            <mat-icon>{{hide ? 'visibility_off' : 'visibility'}}</mat-icon>
          </button>
          <mat-error *ngIf="password.invalid">{{getErrorMessagePassword()}}</mat-error>
        </mat-form-field>
      <br/>
        <button mat-raised-button color="primary"  (click)="login()">Log in</button>
        <button id="btnCreateAccount" mat-raised-button color="primary" (click)="createAccount()">Create Account</button>
    </div>
    
</form>
</div>
</body>