.blanco{
  padding: 30px;
  border-radius: 10px;
  background: white;
}

  .login{
    text-align: center;
    display: inline-block;
  }


  #btnCreateAccount{
    margin-left: 20px;
  }

  .campo{
    
    width: 30%;
    min-width: 300px;
    vertical-align: middle;
    
  }

  body{
    background: url("./../../../assets/fondo.gif");
    text-align: center;
  }