<head>

</head>
<body>
    <div class="barra"></div>
    <table>
        <tr>
            <td>
                <input type="image" src="assets/burbujaBuena.png" class="celda" (click)="goOrdersList()">
            </td>
            <td>
                <input type="image" src="assets/burbujaBuena.png" class="celda">
            </td>
            <td>
                <input type="image" src="assets/burbujaBuena.png" class="celda">
             </td>
             <td>
                <input type="image" src="assets/burbujaBuena.png" class="celda">
             </td>
             <td>
                <input type="image" src="assets/burbujaBuena.png" class="celda">
             </td>
             <td>
                <input type="image" src="assets/burbujaBuena.png" class="celda">
             </td>
        </tr>
        <tr>
            <td>
                <input type="image" src="assets/burbujaBuena.png" class="celda">
            </td>
            <td>
                <input type="image" src="assets/burbujaBuena.png" class="celda">
            </td>
            <td>
                <input type="image" src="assets/burbujaBuena.png" class="celda">
            </td>
        </tr>
    </table>
    <img src="assets/logo.png" class="logo" align="right">
</body>