<head>

</head>
<body>
    <div class="barra"></div>
    <table>
        <tr>
            <td>
               <div align="center" class="celda">
                    <img src="./../../../assets/cesta.png"/>
               </div>
            </td>
            <td>
                <div align="center" class="celda">
                     <img src="./../../../assets/cesta.png"/>
                </div>
             </td>
             <td>
                <div align="center" class="celda">
                     <img src="./../../../assets/cesta.png"/>
                </div>
             </td>
             <td>
                <div align="center" class="celda">
                     <img src="./../../../assets/cesta.png"/>
                </div>
             </td>
        </tr>
    </table>
</body>