table {
    width: 100%;
}

h2{
    margin-left: 20px;
}

mat-form-field{
    margin-left: 10px;
}

.contenedor {
    display: flexbox;
    flex-direction: column;
    padding: 5px;
}  

.espacio {
    width: 40px;
}

mat-card{
    border: 0.5px solid #395B64;
}

td.mat-cell {
  border-bottom-style: none;
}


input {
  width: 50px;
}

th{
  color: #395B64;
}

mat-list {
    max-height: 385px;
    overflow: auto;
}


