<body>
    <mat-card class="example-card">
        <mat-card-content>
            <div class="contenedor">
                <table>
                    <tr>
                        <td VALIGN="top">
                            <h2>Pedido nº </h2>
                        </td>
                        <td rowspan="2">
                            <mat-card class="example-card">
                                <mat-card-content>
                                     <!-- <app-listado-productos-por-supplier ></app-listado-productos-por-supplier>  -->
                                </mat-card-content>
                            </mat-card>
                            <br>
                        </td>
                        <td class="espacio"></td>
                        <td rowspan="2" VALIGN="top">
                            <mat-card class="example-card">
                                <mat-card-content>
                                    <app-listado-productos-anhadidos></app-listado-productos-anhadidos>
                                </mat-card-content>
                            </mat-card>
                        </td>
                    </tr>
                    <tr>
                        <td VALIGN="top" rowspan="">
                            <mat-form-field appearance="fill">
                                <mat-select [ngModel]="supplierSeleccionado" (valueChange)="sendMessage()">
                                    <mat-option>--</mat-option>
                                    <mat-option *ngFor="let supplier of arrayDeSuppliers" [value]="supplier">
                                        {{supplier.name}}
                                    </mat-option>
                                </mat-select>
                            </mat-form-field>
                        </td>
                    </tr>
                    <tr>
                    </tr>
                </table>
            </div>
        </mat-card-content>
    </mat-card>
</body>